<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
    <title>Platformă de înscrieri</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <script
			  src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
			  integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
			  crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <style>
      html {width: 100%; margin:0 ; padding: 0; overflow-x: hidden;}
      body { padding-top: 50px; width: 100% ; margin:0 ; padding: 0;}
      img { width: 140px; height: 140px; }
      .fa-sign-out { float: right; }
      .col-centered {
  float: none;
  margin-right: auto;
  margin-left: auto;
}
    </style>
  </head>
