<% include partials/head %>

  <body>
    <div class="col-sm-8 col-sm-offset-2">
      <div class="jumbotron text-center">
        <h1>Platforma de inscrieri</h1>
        <p class="lead">O platforma pe care te inscrii la activitatile din Saptamana Altfel</p>
        <form action="/spamtati" method="post">
          <div>
            <input type="submit" class="form-control" value="Submit" />
          </div>
        </form>

        <a href="/login" class="btn btn-default"><span class="fa fa-sign-in"></span> Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>

      </div>
    </div>
  </body>
</html>
